@{
    ViewData["Title"] = "Welcome";
}
<div class="welcome-hero">
    <div class="welcome-content text-center">
        <h1>Let's Journal Your Moods! 😊</h1>
        <p class="lead">Start your daily mood diary and track your feelings with emojis, notes, and color!</p>
        <a class="btn btn-lg btn-gradient" asp-controller="MoodEntries" asp-action="Index">
            Get Started 🚀
        </a>
    </div>
    <div class="welcome-content text-left profile-box">
        <p>
            <strong>NAME:</strong> Sneha Padhiyar Mahendrakumar<br />
            <strong>ENROLLMENT NO.:</strong> 202303103510376<br />
            <strong>DIV:</strong> C<br />
            <strong>SUBJECT:</strong> Web Technologies With .NET
        </p>
    </div>
</div>
